
<div style=" text-align: center;">

    <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Numero de empleado</mat-label>
        <input matInput 
        type="number" [formControl]="numeroEmpleado">
    </mat-form-field>

    <p style="color: red;" *ngIf="numeroEmpleado.dirty && (numeroEmpleado.invalid && numeroEmpleado.errors.existe)"> No disponible</p>


</div>



<div style="text-align: center; margin-top: 15px;">

    <button mat-raised-button
    (click)="matDialogRef.close()"
    style="margin-bottom: 15px; margin-right: 10px">

    Cancelar

    </button>   


    <button mat-raised-button
    (click)="actualizarNumero()"
    color="primary"
    [disabled]="numeroEmpleado.invalid || !numeroEmpleado.dirty">

    Guardar

    </button>   

</div>
