<mat-sidenav-container class="example-container" >
   
  
  
    <mat-sidenav #sidenav [mode]="sideNavMode()" 
      style="text-align: center;" [opened]="windowWith() > 1000">
    
      <div style="margin-top: 20px; border-color: black;">
        <img [src]="auth.usuario?.image"
              class="imgUsuario">
  
              <p style="font-weight: bold;">{{ auth.usuario?.nombreCompleto }}</p>
              <p style="font-weight: bold;">{{ auth.usuario?.role }}</p>
      </div>
  
      <mat-nav-list style="text-align: center;">
         
        <mat-list-item *ngFor="let opcion of opcionesMenu"
        class="lista"
        [routerLinkActive]="['is-active']"
        [routerLink]="opcion.link"
        (click)="cerrarMenu()">
          <span matLine class="lista">{{ opcion.nombre }}</span>
  
            <mat-icon mat-list-icon >{{ opcion.icon }}</mat-icon>
  
        </mat-list-item>

  
        <mat-list-item 
        class="lista"
        (click)="cerrarSesion()">
            <span matLine>Cerrar sesion</span>
  
            <mat-icon  mat-list-icon>logout</mat-icon>
  
        </mat-list-item>
  
    </mat-nav-list>    
        
  
    </mat-sidenav>
    
      <mat-sidenav-content  >
  
  
          <mat-toolbar class="barra" style="box-shadow: inset 0 -3px 0 0 rgb(173, 173, 173);">
        
              <mat-toolbar-row  >
  
                <mat-icon (click)="sidenav.toggle()" [ngClass]="{'ocultarMenu': windowWith() > 1000}">
                  menu
                </mat-icon>
      
                  <!-- <button mat-raised-button style="border-radius:150px;" 
                   (click)="">
                   
                  </button> -->
      
                  <div style=" margin-left: auto; margin-right: auto;">
                      <span >Wiki profes</span>
                  </div>
                  
      
              </mat-toolbar-row>
      
        
          
          
        </mat-toolbar>
        
  
         <router-outlet ></router-outlet>
  
          
  
  
      </mat-sidenav-content>
  
  
    </mat-sidenav-container>
