@media screen and (min-width: 480px) {

    mat-card{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 600px;
    }

}


@media screen and (max-width: 479px) {

    .wikiprofes{
        display: none;
    }
   

    mat-card{
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        height: 80%;    
    }

}

.botones{
    width: 80%;
}