

<mat-tab-group mat-align-tabs="center" 
(selectedTabChange)="cambioCategoria($event.tab.textLabel)">

    <mat-tab *ngFor="let categoria of categorias" [label]="categoria"> 

    </mat-tab>
   
  </mat-tab-group>

 


  <div class="noticas"  >

    <mat-card *ngFor="let noticia of noticias" style="margin-top: 20px;"
      (click)="verNoticia(noticia)" >


      <div style="text-align: right;">
        <p class="text">{{ noticia.date | date : 'dd/MM/yyyy hh:mm a' }}</p>
      </div>

      <div class="autor">
        <img  [src]="noticia.admin.image"  class="image" align="left"/>
        <p class="text">  {{  noticia.admin.fullName}}</p>

      </div>

   

      <mat-card-title style="text-align: center; margin-top: 10px;">
        {{noticia.title}}
      </mat-card-title>

      
      <div *ngIf="noticia.encuesta.length == 0 && noticia.multimedia.length > 0"
        [ngSwitch]="noticia.multimedia[0].tipo"  class="multimedia">


        <img *ngSwitchCase="'image'" width="100%" height="100%"
        [src]="crearUrlImg(noticia.multimedia[0].src)" />

        <video *ngSwitchCase="'video'" width="100%" height="100%" controls 
        [src]="crearUrlVideo(noticia.multimedia[0].src)">

        </video>

        <iframe 
        *ngSwitchCase="'youtube'"
      width="100%"
      height="300px"
      [src]=" noticia.multimedia[0].src | domseguro"
      frameborder="0"
      allow=" autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
      >

      </iframe>


      </div>


      

      <mat-card-content [innerHTML]="noticia.description | htmlSeguro"
      
     [ngClass]="{
        'recortada': cortarNoticia(noticia.description.length),
        'completa': !cortarNoticia(noticia.description.length)
      
      }">
      

      </mat-card-content>
      
      <div style="text-align: center;">
      <span class="verMas" *ngIf="noticia.multimedia[1]?.tipo != 'slides'"> &nbsp;Presiona aquí para ver más &nbsp;</span>
      <span class="verMas" *ngIf="noticia.encuesta.length > 0"> &nbsp; Presiona aquí para ver la encuesta &nbsp;</span>
      <span class="verMas" *ngIf="noticia.multimedia[1]?.tipo== 'slides' "> &nbsp; Presiona aquí para ver la presentacion &nbsp;</span>
      </div>
     

      <div class="row" style="text-align: center;">

        <div class="column">
          <p *ngIf="noticia.links.length > 0 " class="links" 
            style="margin-right: 5px;">
            <mat-icon>open_in_new</mat-icon>
            &nbsp; {{noticia.links.length }} links &nbsp; 
           
          </p>
         
        </div>

        <div class="column">
          <p *ngIf="noticia.multimedia.length > 1" class="bottom-right"
            style="margin-left: 5px;">
            <mat-icon>collections</mat-icon>
            &nbsp; + {{ noticia.multimedia.length-1 }} De multimedia &nbsp; </p>
          
        </div>

      </div>

      <div >

        
      </div>
        

    </mat-card>




  </div>





