<mat-card>

    <div style=" text-align:center ; border-color: black;">
        <img [src]="auth.usuario?.image" class="imgUsuario"
        style="margin-bottom: 30px;">
  
                


              <p style="font-weight: bold;">{{ auth.usuario?.employeeNumber }}</p>
              <p style="font-weight: bold;">{{ auth.usuario?.fullName }}</p>
              <p style="font-weight: bold;">{{ auth.usuario?.idRole }}</p>

              
              
      </div>

        <div class="row" style="text-align: center;">

        <button mat-raised-button
            (click)="actualizarNumeroEmpleado()"
            style="margin-bottom: 15px;">

                Actualizar numero de empleado

        </button>

        </div>


      <div class="row" style="text-align: center;">

        <button mat-raised-button
            (click)="actualizarFoto()"
            style="margin-bottom: 15px;">

                Actualizar mi foto

        </button>

    </div>

    <div class="row" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">


        <mat-checkbox style="display: block; margin-bottom: 10px;" 
        [checked]="auth.usuario.regional"
        (change)="usuarioRegional($event.checked)"> REGIONAL </mat-checkbox>
    
    </div>



        <div class="row">

            <div style="text-align: center;">

            <mat-form-field appearance="fill" >
                            <mat-label>Mi planta</mat-label>
                            <mat-select  (selectionChange)="actualizarPlantaKey($event.value)"
                            [(value)]="auth.usuario.idPlant">
                            <mat-option *ngFor="let planta of plantas;" [value]="planta">
                                {{planta}}
                            </mat-option>
                            </mat-select>
            </mat-form-field>


            </div>


        </div>


        <div class="row">

            <div style="text-align: center;">

                <mat-form-field appearance="fill"  >
                <mat-label>Mi departamento</mat-label>
                <mat-select  (selectionChange)="actualizarDepartamentoKey($event.value)"
                [(value)]="auth.usuario.idDepartment">
                  <mat-option *ngFor="let departamento of departamentos;" [value]="departamento">
                    {{departamento}}
                  </mat-option>
                </mat-select>
            </mat-form-field>


            </div>

            


        </div>

        





<!-- <div class="row" style="text-align: center;">
    <button mat-raised-button 
(click)="actualizarPerfil()"
[disabled]="perfilForm.invalid || !perfilForm.dirty "
color="primary"> 

    <mat-icon>
        save
    </mat-icon>

    Actualizar departamento y planta


</button>
</div> -->


<div class="row" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">


    <mat-slide-toggle color="primary"
    [formControl]="notificaionesToogle"
    (change)="activarNotificaciones($event.checked)">

    <label>
        Recibir notificaciones
        <mat-icon>
            notifications_active
        </mat-icon>
    </label>

        
    </mat-slide-toggle>

</div>




    <button mat-raised-button
            (click)="agregarZonas('plantasCategorias')"
            style="margin-bottom: 15px; margin-left: auto; margin-right: auto; display: block;">

                Activar noticias de plantas

    </button>


<div class="row">

    <button mat-raised-button
            (click)="agregarZonas('departamentosCategorias')"
            style="margin-bottom: 15px; margin-left: auto; margin-right: auto; display: block;">

               Activar noticias de departametos

    </button>

</div>





</mat-card>
