

<div style="text-align: center;">

    <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Nombre del departamento</mat-label>
        <input matInput 
        type="text" [formControl]="nombre">
    </mat-form-field>

    <!-- oninput="this.value = this.value.toUpperCase()" -->

</div>

    <div style="text-align: center; margin-top: 15px;">

        <button mat-raised-button
        (click)="matDialogRef.close()"
        style="margin-bottom: 15px; margin-right: 10px">

        Cancelar

        </button>   


        <button mat-raised-button
        (click)="guardarDepartamento()"
        color="primary" [disabled]="nombre.invalid || !nombre.dirty">

        Guardar

        </button>   

    </div>
