
    <div style="text-align: center; margin-top: 15px;">

 


        <button mat-raised-button
        (click)="agregarDepartamento()"
        color="primary">

        Agregar departamento

        </button>   

    </div>


<table mat-table [dataSource]="departamentos" 
class="tabla" >

    <tr mat-header-row *matHeaderRowDef="columnas" ></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;" ></tr>



    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef style="width: 60%;"> Nombre </th>
        <td mat-cell *matCellDef="let element" > 
          {{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="opc">
        <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Opciones </th>
        <td mat-cell *matCellDef="let element;let i = index"> 
            
          <button mat-raised-button color="primary"
          style="margin-right: 5px; " (click)="eliminarDepartamento(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-raised-button color="primary" style="margin-left: 5px;"
          (click)="editarDepartamento(i)">
            <mat-icon>edit</mat-icon>
          </button>
        
      </td>
    </ng-container>





 </table>   






