@media screen and (min-width: 480px) {

    .mainDiv{
        margin: 0 auto;
      }

    .column {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        float: left;
        width: 400px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      mat-card{
        text-align: center;
      }

      


}

.link{
word-wrap: break-word;

}

.link:hover{
  cursor: pointer;
}

.inputs{
  width: 80%;
}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
}