<div style="text-align: left;">

    <button mat-raised-button (click)="matDialogRef.close()">

        <mat-icon>
            arrow_back_ios
        </mat-icon>

        Regresar

    </button>

</div>

<div style=" text-align: center;">

  <p style="font-weight: bold;">Selecciona la opcion para buscar usuarios</p>

  <mat-form-field appearance="fill" style="margin-right: 10px ; text-align: center;">
    <mat-label>Filtro de regionales</mat-label>
    <mat-select [formControl]="regionales">
      <mat-option *ngFor="let tipo of regionalesFiltro; let i = index" [value]="i">
        {{tipo}}
      </mat-option>
    </mat-select>
</mat-form-field>


  <mat-form-field appearance="fill"  style="text-align: center;">
      <mat-label>Tipos de busquedas</mat-label>
      <mat-select [formControl]="seleccionTipo"
      (selectionChange)="busquedaTipo($event.value)">
        <mat-option *ngFor="let tipo of tiposBusqudas; let i = index" [value]="i">
          {{tipo}}
        </mat-option>
      </mat-select>
  </mat-form-field>



</div>




    <div [ngSwitch]="seleccionTipo.value">

      <div *ngSwitchCase="1" style="text-align: center;">

        <mat-form-field appearance="fill" style="display: block; width: 50%; margin-right: auto; margin-left: auto;">
          <mat-label>Selecciona la fecha</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="fechaSeleccionada">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div style="display: inline-block; width: 48%;">

          <p>{{fechaInicio | date : 'dd/MM/yyyy'}}</p>

            <button mat-raised-button (click)="cargarFecha(true)">

          Cargar fecha inicio
    
        </button>

        

        </div>


        <div style="display: inline-block; width: 48%;">

          <p>{{fechaFinal | date : 'dd/MM/yyyy'}}</p>

          <button mat-raised-button (click)="cargarFecha(false)">

            Cargar fecha final
      
          </button>
    
         

        </div>


        <button mat-raised-button color="primary" (click)="buscarPorFecha()">

          Buscar por rango de fecha
    
        </button>



      </div>

      <div *ngSwitchCase="3">

      <!-- <mat-form-field appearance="fill">
        <mat-label>Numero de empleado</mat-label>
        <input matInput (change)="numeroDeUsuario($event.target.value)"
        type="number">
      </mat-form-field> -->

      </div>

      <div *ngSwitchCase="4">

        <!-- <mat-form-field appearance="fill">
          <mat-label>Plantas</mat-label>
          <mat-select 
          (selectionChange)="buscarPorPlanta($event.value)">
            <mat-option *ngFor="let planta of plantas;" [value]="planta">
              {{planta}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->
  
      </div>

      <div *ngSwitchCase="5">

        <!-- <mat-form-field appearance="fill">
          <mat-label>Departamentos</mat-label>
          <mat-select 
          (selectionChange)="buscarPorDepartamento($event.value)">
            <mat-option *ngFor="let departamento of departamentos;" [value]="departamento">
              {{departamento}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->
  
      </div>


      <div *ngSwitchCase="6">

        <!-- <mat-form-field appearance="fill">
          <mat-label>Roles</mat-label>
          <mat-select 
          (selectionChange)="buscarPorRole($event.value)">
            <mat-option *ngFor="let role of roles;" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->
  
      </div>

    </div>

    <!-- <button (click)="descargarExcel()"
    mat-raised-button color="primary"
    [disabled]="usuarios.data.length == 0 "
    style="margin-bottom: 10px;">
      Descargar excel
      <mat-icon>description</mat-icon>
    </button> -->

<div style="text-align: center;">
  <button (click)="descargarExcel()"
    mat-raised-button color="primary"
    [disabled]="ingresos.data.length == 0 "
    >
      Descargar excel
      <mat-icon>description</mat-icon>
    </button>
</div>
    


<mat-card style="margin-top: 15px;">
  <mat-checkbox *ngFor="let propiedad  of usuarioPropiedades; "
      [(ngModel)]="propiedad.check"
      style="margin-left: 5px; margin-right: 5px;">
      {{propiedad.nombre}}
</mat-checkbox>
</mat-card>


<ngx-charts-pie-chart
  [view]="[800, 400]"
  [scheme]="colorScheme"
  [results]="datosGrafico"
  [gradient]="true"
  [labels]="false"
  [doughnut]="false"
   style="margin-left: auto; margin-right: auto;">
</ngx-charts-pie-chart>




<table mat-table [dataSource]="ingresos" style=" margin-top: 25px; width: 100%;" >

  <tr mat-header-row *matHeaderRowDef="columnas"  ></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;" ></tr>

  <!-- Position Column -->

  <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef width="15%"> Foto </th>
      <td mat-cell *matCellDef="let element" width="15%"> 

          <img [src]="element.image" 
          style="border-radius: 150px;" width="80">

      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> 

       {{ element.fullName}}
    
    </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> 

       {{ element.email}}
    
    </td>
    </ng-container>

  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef> Numero de empleado </th>
    <td mat-cell *matCellDef="let element"> 

      {{ element.employeeNumber}}
  
  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="planta">
    <th mat-header-cell *matHeaderCellDef> Planta </th>
    <td mat-cell *matCellDef="let element"> {{element.idPlant}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="deparamento">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> {{element.idDepartment}} </td>
  </ng-container>


  <ng-container matColumnDef="regional">
    <th mat-header-cell *matHeaderCellDef> Regional </th>
    <td mat-cell *matCellDef="let element"> {{element.regional}} </td>
  </ng-container>

 



  
</table>

<mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>



