<div style=" text-align: right;">

    <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Nombre de la categoria</mat-label>
        <input matInput oninput="this.value = this.value.toUpperCase()"
        type="text" [formControl]="nombre">
    </mat-form-field>


</div>


<div style="text-align: right; margin-top: 20px;">

    <button (click)="matDialogReg.close()"
    mat-raised-button 
    type="button"
    color="warning"
    style="margin-right: 20px;">
    Cancelar
    </button>

    <button (click)="guardarCategoria()" [disabled]="nombre.invalid"
    mat-raised-button 
    type="button"
    color="primary">
    Crear categoria
    </button>


</div>
