

<mat-card style="width: 700px; margin-left: auto; margin-right: auto;
margin-top: 20px;">



<div style="text-align: center;">

    <form [formGroup]="notificacionForm">

        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Titulo de la notificacion</mat-label>
            <input matInput formControlName="titulo"
            type="text">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Contenido de la notificacion</mat-label>
            <input matInput formControlName="cuerpo"
            type="text">
        </mat-form-field>

    </form>

   

</div>



<mat-tab-group mat-align-tabs="center" (selectedTabChange)="cargarZonas($event.index)"
style="text-align: center;">

    <mat-tab label="TODOS" style="padding-top: 15px;"> 

        <button (click)="enviarATodos()"
                    mat-raised-button 
                    type="button"
                    class="botones"
                    color="primary"
                    [disabled]="notificacionForm.invalid">
    Enviar a TODOS
    </button>


    </mat-tab>
    <mat-tab label="Un usuario" style="margin-top: 15px;"> 

        <mat-form-field appearance="fill">
            <mat-label>Numero de empleado</mat-label>
            <input matInput (change)="buscarUsuario($event.target.value)"
            type="number">
        </mat-form-field>

        <button (click)="enviarAUsuario()"
                    mat-raised-button 
                    type="button"
                    class="botones"
                    color="primary"
                    [disabled]="notificacionForm.invalid || tokenUsuario == null">
    Enviar al usuario
    </button>


    </mat-tab>
    <mat-tab label="Rol" style="margin-top: 15px;"> 

        <mat-form-field appearance="fill">
            <mat-label>Roles</mat-label>
            <mat-select [formControl]="roleSeleccionado">
              <mat-option *ngFor="let role of roles;" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
        </mat-form-field> 
        
        
        <button (click)="enviarARole()"
                    mat-raised-button 
                    type="button"
                    class="botones"
                    color="primary"
                    [disabled]="notificacionForm.invalid">
    Enviar al rol elegido
    </button>
        
    
    </mat-tab>

    <mat-tab label="Grupos" style="margin-top: 15px;"> 

    <p>Plantas</p>
    
    <mat-checkbox *ngFor="let planta of plantas" [(ngModel)]="planta.check"
    style="margin-right: 10px;">
    {{planta.name}}
    </mat-checkbox>


    <hr>


    <p>Departamentos</p>

    <mat-checkbox *ngFor="let departamento of departamentos" [(ngModel)]="departamento.check"
    style="margin-right: 10px;">
     {{ departamento.name}}   
    </mat-checkbox>


    <hr>


    <button (click)="enviarAZonas()"
                    mat-raised-button 
                    type="button"
                    class="botones"
                    color="primary"
                    [disabled]="notificacionForm.invalid">
    Enviar a seleccionados
    </button>

        
    
    </mat-tab>

  </mat-tab-group>


</mat-card>
